# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo
*.pdb

*.vshost.exe
*.manifest
*.Cache
*.cache
*.exe
*.suo

CSharpBigPlugin/MSsqlTools/bin/Debug/SQLchaxunfx
